
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Razor Excercise</h1>

<!--
    1. Dichiarare una variabile valorizzandola con il nostro nome.
Dichiarare un'altra variabile valorizzandola con il nostro cognome.
Stampare il nostro nome e cognome all'interno di un tag h2.
2. Creare una funzione che stampa la somma dei numeri che vanno da 1 a n (con n passato come parametro - n incluso)
Stampare dentro uno span il risultato.
3. Contare quante volte la lettera a è presente nalla frase "nel mezzo del cammin di nostra vita" e stampare questo valore in pagina
4. Creare una List<int> di 20 numeri interi (generati random da 1 a 90, 1 e 90 inclusi) e mostrare in pagina solo i numeri compresi tra 20 e 70
5. Stampare in pagina la data e l'ora attuale (usando la classe DateTime) con il formato anno-mese-giorno ore:minuti:secondi
6. Partendo dalla data di oggi (usando la classe DateTime) stampare in pagina
a. la data di 7 giorni fa
b. che giorno della settimana è oggi (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)
c. che giorno della settimana sarà nello stesso giorno e mese di oggi ma tra un anno (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)
-->

@{
    // ex 1
    string name = "Lorenzo";

    // ex 2
    int Sum(int n)
    {
        int total = 0;
        for (int i = 0; i < n; i++)
        {
            total += n;
        }
        return total;
    }

    // ex 3
    string sentence = "nel mezzo del cammin di nostra vita";
    char[] chars = sentence.ToCharArray();

    int count = 0;
    foreach(char character in chars)
    {
        if (character == 'a') count++;
    }

    // ex 4
    List<int> numbers = new List<int>();
    Random rng = new Random();
    for(int i = 0; i < 20; i++)
    {
        numbers.Add(rng.Next(0, 91));
    }


    // ex 6
    DateTime dt = new DateTime();
    dt = DateTime.Now;
    DateTime newdt = dt.AddDays(-7);
    string day = newdt.DayOfWeek.ToString();
    DateTime oneYear = dt.AddDays(365);
    string oneYearDate = oneYear.DayOfWeek.ToString();

}
<div class="container">
    <div>
        <h1>Ex. 1</h1>
        <p>Dichiarare una variabile valorizzandola con il nostro nome.</p>
        <h5>Ciao! Sono @name</h5>
    </div>

    <div>
        <h1>Ex. 2</h1>
        <p>Creare una funzione che stampa la somma dei numeri che vanno da 1 a n (con n passato come parametro - n incluso)
            Stampare dentro uno span il risultato.</p>
        <span>Il parametro passato è 3. Il risultato sarà: @Sum(3)</span>
    </div>

    <div>
        <h1>Ex. 3</h1>
        <p>Contare quante volte la lettera a è presente nalla frase "nel mezzo del cammin di nostra vita" e stampare questo valore in pagina.</p>
        <p>Caratteri "a" contenuti: @count</p>
    </div>

    <div>
        <h1>Ex. 4</h1>
        <p>Creare una List<int> di 20 numeri interi (generati random da 1 a 90, 1 e 90 inclusi) e mostrare in pagina solo i numeri compresi tra 20 e 70.</p>
        @foreach(int number in numbers)
            {
                @if(number >= 20 && number <= 70)
                {
                    <h5>@number</h5>
                }
            }
    </div>

    <div>
        <h1>Ex. 5</h1>
        <p>Stampare in pagina la data e l'ora attuale (usando la classe DateTime) con il formato anno-mese-giorno ore:minuti:secondi.</p>
        <h4>@DateTime.Now.ToString("yyyy/MM/dd"), @DateTime.Now.ToString("HH:mm:ss")</h4>
    </div>

      <div>
        <h1>Ex. 6</h1>
        <p>Partendo dalla data di oggi (usando la classe DateTime) stampare in pagina la data di 7 giorni fa.</p>
        <h4>Sette giorni fa er il: @day - @newdt.ToString("yyyy/MM/dd")</h4>
        <h4>Che giorno della settimana sarà tra un anno: @oneYearDate</h4>
    </div>
</div>